[Desktop Entry]
Version=1.0
Type=Application
Name=File Manager
Comment=Simple file manager built with PyQt6
Exec=/home/magnus/python/litterbox/run.sh
Icon=folder
Terminal=false
Categories=System;FileManager;
StartupNotify=true
